body {
  font-family: Arial, sans-serif;
}

input:focus, button:focus {
  outline: none;
}

button:hover {
  opacity: 0.9;
}

.fullwidth{
  width: 100vw;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}